openapi: 3.0.3
info:
  title: Walk Score Cities Routes API
  description: The Walk Score API returns Walk Score, Transit Score, and Bike Score for any location in the United States and Canada. Walk Score measures the walkability of any address on a scale from 0-100. Transit Score measures access to public transit and Bike Score measures bikeability. The API is used by real estate platforms, urban planning tools, commute calculators, and location intelligence applications.
  version: 1.0.0
  contact:
    url: https://www.walkscore.com/professional/api.php
  termsOfService: https://www.walkscore.com/professional/terms.php
servers:
- url: https://api.walkscore.com
  description: Walk Score API
security:
- apiKey: []
tags:
- name: Routes
  description: Transit route details
paths:
  /transit/route/{routeId}/:
    get:
      operationId: getTransitRoute
      summary: Get Transit Route
      description: Returns details for a single transit route by its identifier, including name, category (Rail/Bus/Other), agency information, color branding, stop IDs, and WKT geometry string for the route path.
      tags:
      - Routes
      parameters:
      - name: routeId
        in: path
        required: true
        schema:
          type: string
        description: Route identifier (e.g. r403)
        example: r403
      - name: wsapikey
        in: query
        required: true
        schema:
          type: string
        description: Your Walk Score API key
      responses:
        '200':
          description: Transit route details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransitRoute'
        '400':
          description: Invalid route ID
components:
  schemas:
    TransitRoute:
      type: object
      properties:
        id:
          type: string
          description: Route identifier
        name:
          type: string
          description: Route name
        short_name:
          type: string
          description: Short route name
        long_name:
          type: string
          description: Full route name
        category:
          type: string
          enum:
          - Rail
          - Bus
          - Other
          description: Transit category
        agency:
          type: string
          description: Transit agency name
        agency_url:
          type: string
          format: uri
          description: Transit agency website
        color:
          type: string
          description: Route brand color as hex
        text_color:
          type: string
          description: Route text color as hex
        description:
          type: string
          description: Route description
        stop_ids:
          type: array
          items:
            type: string
          description: Array of stop IDs on this route
        geometry_wkt:
          type: string
          description: Well-Known Text geometry string for the route path
  securitySchemes:
    apiKey:
      type: apiKey
      in: query
      name: wsapikey
      description: Walk Score API key, contact Walk Score to obtain
