openapi: 3.2.0
info:
  title: Walk Score Transit Cities API
  description: The Walk Score Public Transit API provides detailed transit data including Transit Scores, nearby stops, route networks, stop details, and route details. The API returns information about bus, rail, and other transit options within one mile of any location. Used by real estate platforms, commute calculators, and urban planning applications to surface public transportation options.
  version: 1.0.0
  contact:
    url: https://www.walkscore.com/professional/public-transit-api.php
  termsOfService: https://www.walkscore.com/professional/terms.php
servers:
- url: https://transit.walkscore.com
  description: Walk Score Transit API
security:
- apiKey: []
tags:
- name: Cities
  description: Supported cities list
paths:
  /transit/supported/cities/:
    get:
      operationId: listSupportedCities
      summary: List Supported Cities
      description: Returns a list of all cities supported by the Transit Score API, including city name, state (US) or country code (non-US), and estimated population. Use this to validate city/state combinations before requesting transit scores.
      tags:
      - Cities
      parameters:
      - name: wsapikey
        in: query
        required: true
        schema:
          type: string
        description: Your Walk Score API key
      responses:
        '200':
          description: Array of supported cities
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/SupportedCity'
        '400':
          description: Invalid API key
components:
  schemas:
    SupportedCity:
      type: object
      properties:
        city:
          type: string
          description: Canonical city name
          example: Seattle
        state:
          type: string
          description: Two-letter US state code (US cities only)
          example: WA
        country:
          type: string
          description: Two-letter ISO-3166 country code (non-US cities only)
        population:
          type: integer
          description: Estimated city population
          example: 737000
  securitySchemes:
    apiKey:
      type: apiKey
      in: query
      name: wsapikey
      description: Walk Score API key, contact Walk Score to obtain
